doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      .liquidFillGaugeText { font-family: Helvetica; font-weight: bold; }
  body
    block content

  script(src='http://d3js.org/d3.v3.min.js', language='JavaScript')
  script(type='text/javascript', src='./javascripts/bundle.js')
